.m-0 {margin: 0 !important;}
.mt-0 {margin-top: 0 !important;}
.mt-10 {margin-top: 10px !important;}
.mt-20 {margin-top: 20px !important;}

.mb-20 {margin-bottom: 20px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-40 {margin-bottom: 40px !important;}

.subtitle {color: #999; font-size: 18px; font-weight: bold;}

.list-group {padding: 0; margin: 0; list-style: none;}
.list-group-item {position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;}
.list-group-item:first-child {border-top-left-radius: 4px; border-top-right-radius: 4px;}
.list-group-item:last-child {margin-bottom: 0; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;}

.settings {padding: 0; margin: 0; list-style: none; display: flex; flex-flow: row; justify-content: flex-start;}
.settings .item {padding: 15px; position: relative;}
.settings .item form {position: absolute; right: 15px; top: 15px; z-index: 1; font-size: 30px; display: block; line-height: 1; margin: 0;}
.settings .item a {display: flex; flex-flow: column; justify-content: center; align-items: center; height: 100%; padding: 15px 30px; min-width: 240px; color: #333; text-decoration: none; text-align: center; background-color: #fff; border: 1px solid #ddd; border-radius: 4px;}
.settings .item a:hover {background-color: #fcfcfc;}
.settings .item .title {font-size: 22px;}
.settings .item .status {font-size: 14px; margin-top: 15px; text-transform: uppercase;}
.settings .item .status i {color: #ccc;}
.settings .item .status.active i {color: #73c861;}
.settings .item .icon {font-size: 90px; color: #ddd; display: block; margin-bottom: 15px;}
.settings .item.add-new {text-transform: uppercase;}

.d-flex {display: flex; flex-flow: row wrap; margin-right: -15px; margin-left: -15px;}
.d-flex .col {flex: 1 1 auto; padding-left: 15px; padding-right: 15px;}
